.button {
  width: 200px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sec_button {
  width: 200px;
  color: var(--primary);
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  border: 1px solid var(--primary);
  background: transparent;
  color: var(--primary);
}
.sec_button:hover {
  border: 1px solid #fff;
  background: transparent;
  color: white;
}
