.home_container {
  display: flex;
  gap: 4rem;
  padding: 0 1.5rem;
  padding-top: 4rem;
  text-align: left;
}

.home_container_left {
  flex: 1.2;
}
.home_container_right {
  flex: 1;
}
.highlighted {
  color: var(--primary);
}
.home_heading {
  line-height: 1.5;
  font-size: 3rem;
  letter-spacing: 1px;
}
.home_description,
.nft_section_left p {
  margin: 3rem 0;
  font-size: 1.5rem;
  line-height: 1.3;
}

.bnb_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nft_section {
  display: flex;
  margin-top: 2rem;
  background-color: var(--primary);
  justify-content: space-around;
  padding: 2rem;
  align-items: center;
}
.nft_section_left {
  color: white;
  text-align: left;
}
.nft_section_left p {
  font-size: 1rem;
  line-height: 1.7;
  width: 80%;
  margin: 2rem 0;
}

.bnb_heading {
  margin: 3rem 0;
}

@media screen and (max-width: 1024px) {
  .home_container,
  .nft_section {
    flex-direction: column-reverse;
  }
  .bnb_container {
    gap: 1rem;
  }
  .nft_section_left p {
    width: 100%;
  }
}
