.card {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--lightgray);
  transition: all 0.2s ease;
  cursor: pointer;
}
.card:hover {
  transform: scaleX(1.05) scaleY(1.05);
}
.bnb_details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.bnb_details_left p {
  text-align: left;
}
.bnb_details_right p {
  text-align: right;
}
.stars {
  display: flex;
  gap: 0.5rem;
}

p {
  margin-bottom: 10px;
  font-size: 0.75rem;
  font-weight: 700;
}
