.footer {
  background-color: #1d1d1e;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}
.footer_logo_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_link_container {
  flex: 2;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.footer_link_each {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer_link_each ul li {
  list-style: none;
  text-align: left;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: 5px;
}
.footer_link_each ul li:hover {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.footer_icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 1.5rem;
  }
  .footer_link_container {
    flex-direction: column;
  }
}
