* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
  text-shadow: none !important;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary: #a02279;
  --gray: #434343;
  --lightgray: #a3a3a3;
}
